@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Garage for Group 3</h1>
    
</div>

<div class="text-center">
    <p >Click Parked Vehicles to look in the Garage</p>

</div>
<div class="text-center">
    <p >Click Overview to see the OverView</p>

</div>
<div class="text-center">
    <p >Click Privacy to see the Privacy statement.</p>

</div>